<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= "USC MeaningLab: " + current_page.data.title.to_s  %></title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'bootstrap-theme' %>
    <!-- <link href="../stylesheets/normalize.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'sticky-footer' %>
    <%= stylesheet_link_tag 'main' %>

    <!-- js -->
    <%= javascript_include_tag 'jquery-2.1.4.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
<!--    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script> -->
    <link rel="icon" 
      type="image/png" 
      href="/images/ML-logo2.png">
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 id="logo">
            <a href="/"> 
              <span class="left">Meaning</span><span class="right">Lab</span> 
            </a>  
          </h1>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-center navbar-nav">
            <li><%= link_to 'Home', '/index.html' %></li>
            <li><%= link_to 'News', '/news.html' %></li>
            <li><%= link_to 'People', '/people.html' %></li>
            <li><%= link_to 'Research', '/research.html' %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">For visitors <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1" style="padding-bottom: 15px;">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/visiting.html">A Typical Visit</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/directions.html">Directions</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/participate.html">Participate!</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse-->
        <span class="sublogo text-uppercase text-muted">The Meaning Lab @ University of Southern California</span>
      </div>
    </div><!--/.navbar-static-top-->
    <!--/.navbar--> 

    <!--main content-->
    <div class="container">
      <div class="row">

        <!-- site content -->
        <div class="col-xs-12">
            <%= yield %>
        </div>
            
      </div><!--/site content-->
    </div><!--/main content-->

   <!-- footer -->
    <footer class="footer" style="padding-top:2em;">
      <div class="container" style="padding-top:1em; border-top:1px solid #18678e;">
        <div class="row">
          <div class="col-md-8">
            <p class="text-muted" align="left">
              University of Southern California Meaning Lab<br>
              School of Philosophy, 3709 Trousdale Parkway<br>
              Phone: 213 821 7069 | <a href="mailto:meaninglab@usc.edu">meaninglab@usc.edu</a>
            </p>
          </div>
          <div class="col-md-4">
            <a href="http://usc.edu" target="_blank"><img src="../images/USC-Dornsife-Cardinal-Black-on-White-CMYK-trimmed.png" width="75%" alt="University of Southern California logo"></a>
          </div>
        </div>
      </div>
    </footer><!-- /footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
